.modal-container__content {
    margin: 200px auto;
    text-align: center;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #eee;
    box-shadow: 0rem 1rem 1.5rem;
    width: 40%;
    // height: 30%;

    &__heading {
        font-size: 2rem;
        font-weight: 200;
    }

    &__label {
        margin-top: 2rem;
    }

    &__input {
        display: block;
        margin: 0 auto;
    }


}

.btn-submit {
    display: block;
    
    margin: 0 auto;
    margin-top: 20px;
}