.set {
    width: 61.9%;
    margin: 2rem auto;
    border: 1px solid black;

    cursor: pointer;
    transform: scale(1) translate(0,0);
    transition: all .2s ease-in;
  
    

    &__number {
        font-size: 2.3rem;
        padding: 1rem 0 0 2rem;
    }

    &__table {
        margin: 0 auto 2rem;
        text-align:center;
        padding: 2em;
        border-spacing: 0;
        border: 1px solid black;

        transform: scale(1) translate(0,0);
        transition: all .2s ease-in;

        &:hover {
            transform: scale(1.02) translate(0, -.4rem);
            box-shadow: 0 1rem 3rem rgba(0,0,0,.3);
        }


    }

    &__heading {
        border-top: 1.4em solid transparent;
        font-size: 1.4rem;
        border-bottom: 4px solid black;
    }

    &:hover {
        transform: scale(1.02) translate(0, -.4rem);
        box-shadow: 0 1rem 3rem rgba(0,0,0,.3);
    }

    




}





tbody tr td {
    text-align: center;
    border: 1em solid transparent;
}

tr:not(th) {
    transform: scale(1) translate(0,0);
    transition: all .2s ease-in;

    &:hover {
        transform: scale(1.02) translate(0, -.4rem);
        box-shadow: 0 1rem 3rem rgba(0,0,0,.3);
        // border: 1px solid black;
        background-color: chartreuse;
    }
}