.home-page {
    width: 100vw;
    height: 80vh;
}

.toggle-btn {
    position: fixed;
    top: 1rem;
    left: 1.5rem;
    cursor: pointer;
    z-index: 10;

    transform: rotate(-315deg);
    transition: all .2s;

    &.open {
        transform: rotate(0deg);
    }

}