.modal-container {
    &.closed {
        display: none;
    }
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    
    background-color: rgba(20, 20, 20, 0.5);

    

    &__close-btn {
        position: absolute;
        fill: whitesmoke;
        top: .7rem;
        right: .7rem;
        cursor: pointer;
    }
   
}