body {
    padding: 0;
    margin: 0;
    /* text-align:center; */
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* background-color: red; */

    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

    z-index: 10;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* background-color: red; */

    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

    z-index: 10;
}

.modal-box {
    position: fixed;
    margin-top: 10rem;
    margin-left: 20rem;
    display: block;
    width: 50rem;
    height: 30rem;
    border: 2px solid black;
    background: white;
    box-shadow: 0 0 2px 1px;
    /* text-align: center; */

    /* transform: translateY(-200%) */
}

#task-input {
   
}

.modal.closed {
    position: fixed;
    margin-left: 20rem;
    display: block;
    width: 50rem;
    height: 30rem;
    border: 2px solid black;
    background: white;
    box-shadow: 0 0 2px 1px;
    /* text-align: center; */

    display: none;
}

.modal-content {
    margin-top: 7rem;
    /* border: 2px solid red; */
    text-align: center;
}

#modal-title {
    /* padding-left: 1rem; */
}


#close-btn {
    float: right;
    
    padding-right: 15px;
    cursor: pointer;
    font-size: 2rem;
}

#burger {
    position: fixed;
    top: .5rem;
    padding: .5rem 0 0 1rem;
    cursor: pointer;
    z-index: 10;
}

#menu {
    position: fixed;
    top: .5rem;
    width: 20rem;
    height: 98%;
    box-shadow: 0 0 3px 2px;
    transform: translate(-100%);
    transition: transform .4s ease-in-out;
    z-index: 5;

}

#menu.open {
    
    position: fixed;
    top: .5rem;
    width: 20rem;
    height: 98%;
    box-shadow: 0 0 3px 2px;


    transform: translate(0%)
    
}

.menu-checkbox {
    width: 2rem;
    height: 2rem;
    /* transform: scale(200%) */
}

#list-container {
    
    margin-top: 4.5rem;
    padding: auto;
    /* border: 1px solid red; */
    width: 100%;
    height: 75%;
    text-align: center;

    border: 1px solid red;
}

#list-container ul {
    display:flex;
    flex-wrap: wrap;
}

.menu-list-item {
    /* color: blue; */
    margin: 1rem;
    flex-basis: 100%;
    list-style: none;
}

#tomato {
    display: block;
    margin: 5rem auto 0 auto;
    /* padding: auto; */
}

#timer {
    box-sizing: border-box;
    display: block;
    margin: 1rem auto;

    padding: .6rem 0;
    
    width: 10rem;
    height: 4rem;


    font-size: 2.5rem;

    letter-spacing: .10em;
    text-align: center;

}

#reset-btn {
    box-sizing: border-box;
    display: block;

    margin: auto;
    width: 8rem;
    height: 3rem;

    font-size: 2rem;
}